{% extends "site_base.html" %}
{% block content %}
<div class="container">
    <section class="row" id="django-content-apps">
        <div class="six columns">
            <h2>Django Content Apps <small>Apps that manage specific content</small></h2>
        </div>
        <div class="six columns">
            {% include "project_thumbnails.html" with projects=contentapps %}
        </div>
    </section>
</div>
<hr>
    <div class="page-header"><a name="django-decorator-apps"></a><h2>Django Decorator Apps <small>Apps that can add functionality to other apps</small></h2></div>
    {% include "project_thumbnails.html" with projects=decoratorapps %}

    <div class="page-header"><a name="django-utilities"></a><h2>Django Utilities <small>Apps or modules that help Django</small></h2></div>
    {% include "project_thumbnails.html" with projects=utilities %}

    <div class="page-header"><a name="python-modules"></a><h2>Python Modules <small>Apps that can add functionality to other apps</small></h2></div>
    {% include "project_thumbnails.html" with projects=pythonapps %}

    <div class="page-header"><a name="websites"></a><h2>Web Sites <small>Complete code for web sites</small></h2></div>
    {% include "project_thumbnails.html" with projects=websites %}

{% endblock content %}<div class="container">
    <section class="row" id="django-content-apps">
        <div class="six columns">
            <h2>Django Content Apps <small>Apps that manage specific content</small></h2>
        </div>
        <div class="six columns">
            {% include "project_thumbnails.html" with projects=contentapps %}
        </div>
    </section>
</div>
<hr>
    <div class="page-header"><a name="django-decorator-apps"></a><h2>Django Decorator Apps <small>Apps that can add functionality to other apps</small></h2></div>
    {% include "project_thumbnails.html" with projects=decoratorapps %}

    <div class="page-header"><a name="django-utilities"></a><h2>Django Utilities <small>Apps or modules that help Django</small></h2></div>
    {% include "project_thumbnails.html" with projects=utilities %}

    <div class="page-header"><a name="python-modules"></a><h2>Python Modules <small>Apps that can add functionality to other apps</small></h2></div>
    {% include "project_thumbnails.html" with projects=pythonapps %}

    <div class="page-header"><a name="websites"></a><h2>Web Sites <small>Complete code for web sites</small></h2></div>
    {% include "project_thumbnails.html" with projects=websites %}
