body{margin:2%; background:none;}
img{border:none;}

h1{font-size:24px; font-weight:200; margin:0;}
h2{font-size:16px; font-weight:200; font-style:italic; margin:0;}

.page{width:100%;}

.c460{width:100%;}
.storyimg{width:200px; height:auto; margin:10px 10px 10px 0; float:right;}

.nag,.nav,.ad728x90,.ad300x250,.ad160x600,.c300,.c160,.c460,.footer,.small,.module,.hide{display:none;}

.story a:link:after, .story a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
}