{% load i18n %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
    <head>
        <title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}</title>

        <!--Facebook Metadata /-->
        <meta property="fb:page_id" content="" />
        <meta property="og:image" content="" />
        <meta property="og:description" content=""/>
        <meta property="og:title" content=""/>

        <!--Google+ Metadata /-->
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">

        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="humans.txt">

        <!-- Included CSS Files -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/1140.css">

        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href="{{ STATIC_URL}}css/font-awesome.css" media="screen, projection, print" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL}}css/master.css" media="screen, projection, print" rel="stylesheet" type="text/css" />
        <!--[if IE lt 9]>
            <link href="/{{ STATIC_URL}}css/font-awesome-ie7.css" rel="stylesheet" type="text/css" />
        <![endif]-->
        <script type="text/javascript" src="js/css3-mediaqueries.js"></script>
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% block body_outer %}
            {% block site_header %}{% endblock %}
			{% block content_nav %}{% endblock %}
			{% block member_opts %}{% endblock %}
			{% block search %}{% endblock %}
            {% block body %}{% endblock %}
			{% block footer %}{% endblock %}
        {% endblock %}
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
