{% extends "site_base.html" %}

{% block body_class %}homepage{% endblock %}

{% block head_title %}Home{% endblock %}

{% block content %}
<div class="row-fluid vmar">
	<div class="span4 column">
		<h1 class="headfont">Django Architecture</h1>
		<img src="{{ STATIC_URL }}images/draftsman.png"/>
		<p>
We&rsquo;ve worked on high-traffic sites that receive thousands of requests per second.
We believe in an expandable architecture where the parts can scale independently.
		</p>
	</div>
	<div class="span4 column">
		<h1>Project Design</h1>
		<img src="{{ STATIC_URL }}images/director.png"/>
		<p>
If the overall code is structured well, you won&rsquo;t spend more money on maintanence than you spend on new features. We can make sure your code will stand the test of time.
		</p>
	</div>
	<div class="span4 column">
		<h1>Custom Development</h1>
		<img src="{{ STATIC_URL }}images/carpenter.png"/>
		<p>
80% of your web site may be like every other web site. You need to make the 20% difference stand out; whether it is making your backend producers more productive or giving users more features.
		</p>
	</div>
</div>
{% endblock %}