{% extends "site_base.html" %}

{% block body_class %}homepage{% endblock %} 

{% block head_title %}Home{% endblock %}

{% block body %}
	<div class="left full mt mb">
		<div class="left pl pt pb max w620 h300">
			<h1 class="red mt mb">A builder of boring website stuff for opinionated developers.</h1>
			<p>Calloway was dreamed up to be a fast way to get a web site going. Most web sites have an infrastructure that is painful to recreate each time. Our goal is to allow programmers to specify the functionality they want included, and then focus on the parts that make their website unique.</p>
			<p>&nbsp;</p>
			<p>The underlying framework upon which Calloway resides is Django. It is written in Python and promotes adding functionality in "Applications" that can be reused in other projects. This isolation of functionality is what Calloway uses to combine other open source projects together to create a cohesive infrastructure.</p>
		</div>
		<div class="right pr pt pb max w300 h300">
			<p class="nomar ca mt max"><img src="{{ STATIC_URL }}images/btn-getstarted.png" width="254" height="69" alt="Get Started" class="mt max" /></p>
			<p class="nomar ca">or <a href="#">learn more</a></p>
		</div>
	</div>
	<div class="left full mt mb">
		<div class="left pl pt pb max w620 h300">
			<h1 class="red mt mb">What is it?</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<h1 class="red mt mb">What does it do?</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="right pr pt pb max w300 h300">
			<h1 class="red mt mb">Where do I get it?</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
{% endblock %}