{% extends "site_base.html" %}

{% block body_class %}homepage{% endblock %}

{% block head_title %}Home{% endblock %}

{% block content %}
<article>
	<div class="left full mt mb">
		<div class="left pl pt pb max w620 h250">
			<h2 class="red mt mb">A builder of boring website stuff for opinionated developers.</h2>
			<p>
				As professional web developers, we&rsquo;ve noticed two realities:
				<ol>
				<li>Most web sites are made up of &ldquo;boring stuff&rdquo;
				(<abbr title="also known as">AKA</abbr> infrastructure)</li>
				<li>Web teams <strike>are opinionated bastards</strike> have their own
					ways of doing things</li>
				</ol>
			</p>
			<p>
				Calloway was dreamed up to be a fast way to get a web site going.
				It creates the infrastructure for a new web site without forcing
				you to its &ldquo;what I think is best&rdquo; practices. Our goal is to
				allow you to specify the functionality you want included,
				in they way you want to work so you can focus on the parts
				that make your website unique.
			</p>
		</div>
	</div>
	<div class="left full mt mb">
		<div class="left pl pt pb max w620 h500">
			<h2 class="red mt mb">What is it?</h2>
			<p>
				Calloway is a &ldquo;meta&rdquo; framework. It is a small
				<a href="http://www.djangoproject.com/" title="Django Project">Django</a>
				application coupled with a Django project starter. <a href="/applications/">Third-party
				applications</a> are bundled together with dependencies to make adding
				specific functionality easy.
			</p>
			<p>
				Developer&rsquo;s (or even designer&rsquo;s) will use Calloway at the start of a project
				to get it going so they can work on the fun stuff.
			</p>

			<h2 class="red mt mb">What does it do?</h2>
			<p>
				<ol><li>Starts projects from a given project template</li>
					<li>Manages dependencies of applications it knows work well together</li>
					<li>Provides some good (but easily over-rideable) defaults</li>
				</ol>
			</p>
			<p>
				In order to do this, there are a couple of small requirements:
				<ul><li><a href="http://pip.openplans.org/">pip</a> for managing packages</li>
					<li><a href="http://virtualenv.openplans.org/">virtualenv</a> for isolating environments and avoiding package conflicts</li>
					<li><a href="http://www.doughellmann.com/projects/virtualenvwrapper/">virtualenvwrapper</a> for adding some cool hooks to virtualenv that make it easier to use</li>
				</ul>
			</p>
		</div>
		<div class="right pr pt pb max w300 h500">
			<h2 class="red mt mb">Where do I get it?</h2>
			<p>
				The simplest place is at <a href="http://github.com/callowayproject">github</a>.
			</p>
		</div>
	</div>
</article>
<aside class="dropshad">
	<div class="full-wrapper bgray dropshad"><h3>aside</h3></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
</aside>

{% endblock %}