{% extends "site_base.html" %}
{% block head_title %}Projects{% endblock head_title %}
{% block fb_title %}Projects{% endblock %}
{% block gp_title %}Projects{% endblock %}

{% block fb_description %}These are the open source projects that Calloway Development maintains.{% endblock %}
{% block gp_description %}These are the open source projects that Calloway Development maintains.{% endblock %}
{% block description %}These are the open source projects that Calloway Development maintains.{% endblock %}

{% block keywords %}Django, python, open source, projects, development{% endblock keywords %}

{% block content %}
<div class="row-fluid">
<nav class="span4 offset8 dropshad">
    <ul class="nav nav-list">
    <li class="nav-header headfont">Django Content Apps</li>
    {% for project in contentapps %}
    <li><a href="#{{ project.name }}">{{ project.name }}</a></li>
    {% endfor %}

    <li class="nav-header headfont">Django Decorator Apps</li>
    {% for project in decoratorapps %}
    <li><a href="#{{ project.name }}">{{ project.name }}</a></li>
    {% endfor %}

    <li class="nav-header headfont">Django Utilities</li>
    {% for project in utilities %}
    <li><a href="#{{ project.name }}">{{ project.name }}</a></li>
    {% endfor %}

    <li class="nav-header headfont">Python Modules</a>
    </li>
    {% for project in pythonapps %}
    <li><a href="#{{ project.name }}">{{ project.name }}</a></li>
    {% endfor %}

    <li class="nav-header headfont">Web Sites</li>
    {% for project in websites %}
    <li><a href="#{{ project.name }}">{{ project.name }}</a></li>
    {% endfor %}

</ul>
</nav>
<article class="span8">
    <section class="" id="django-content-apps">
    <h2>Django Content Apps <small>Apps that manage specific content</small></h2>
    {% include "project_thumbnails.html" with projects=contentapps %}
</section>
<section id="django-decorator-apps">
    <h2>Django Decorator Apps <small>Apps that can add functionality to other apps</small></h2>
    {% include "project_thumbnails.html" with projects=decoratorapps %}
</section>
<section id="django-utilities">
    <h2>Django Utilities <small>Apps or modules that help Django</small></h2>
    {% include "project_thumbnails.html" with projects=utilities %}
</section>
<section id="python-modules">
    <h2>Python Modules <small>Apps that can add functionality to other apps</small></h2>
    {% include "project_thumbnails.html" with projects=pythonapps %}
</section>
<section id="websites">
    <h2>Web Sites <small>Complete code for web sites</small></h2>
    {% include "project_thumbnails.html" with projects=websites %}
</section>
</article>
</div>{% endblock content %}
