{% load i18n %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
    <head>
        <title>Calloway : {% block head_title %}{% endblock %}</title>

        <!--Facebook Metadata /-->
        {% comment %}
        <meta property="fb:page_id" content="" />
        <meta property="og:image" content="" />
        {% endcomment %}
        <meta property="og:description" content="{% block fb_description %}Calloway Development builds and maintains custom Django-based web sites and applications.{% endblock %}"/>
        <meta property="og:title" content="{% block fb_title %}{% endblock fb_title %}"/>

        <!--Google+ Metadata /-->
        <meta itemprop="name" content="{% block gp_title %}{% endblock %}">
        <meta itemprop="description" content="{% block gp_description %}Calloway Development builds and maintains custom Django-based web sites and applications.{% endblock %}">
        {% comment %}<meta itemprop="image" content="">{% endcomment %}

        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="description" content="{% block description %}Calloway Development builds and maintains custom Django-based web sites and applications.{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}Django, python, consulting, development{% endblock keywords %}" />
        <meta name="author" content="Calloway Development, LLC">

        <!-- Included CSS Files -->
        <script type="text/javascript" src="//use.typekit.net/wlp6not.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/font-opensans.css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" type="text/css" />

        <!-- IE Fix for HTML5 Tags -->
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <link href="/{{ STATIC_URL}}css/font-awesome-ie7.css" rel="stylesheet" type="text/css" />
        <![endif]-->

        <script type="text/javascript" src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
        <script src="{{ STATIC_URL }}js/modernizr-2.5.3-respond-1.1.0.min.js"></script>

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
    	<!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		<div id="header-container" class="dropshad">
			<header class="full-wrapper clearfix tan dropshad">
				<h1 id="logo">Calloway Open Source Development</h1>
			</header>
		</div>
	<div id="main-container">
		<div class="wrapper clearfix vpad15">
			<nav class="headfont column main">
				<ul>
					<li class=""><a href="/"><i class="icon-home"></i>&nbsp;Home</a></li>
					<li class=""><a href="/projects/"><i class="icon-briefcase"></i>&nbsp;Projects</a></li>
					<li class=""><a href="/people/"><i class="icon-user"></i>&nbsp;People</a></li>
					<li class=""><a href="/blog/"><i class="icon-comment"></i>&nbsp;Blog</a></li>
				</ul>
			</nav>
        </div>
        <hr class="hr bgray dropshad"/>
        {# <div class="full-container bgray dropshad"><p>&nbsp;</p></div> #}
        <div class="wrapper clearfix vpad15">
            {% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer-container">
		<footer class="wrapper">&copy; {% now "Y" %} Calloway Development LLC</footer>
	</div>
    {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
    {% endblock %}
    </body>
</html>
